extends ~pages-base/page-base
include ~components/date-dropdown/date-dropdown

block vars
  -
    const className = 'landing-page';
    const title = 'Mars';
    const keywords = 'Mars, tickets';
    const description = 'Сайт по бронированию билетов на Марс';

block content
  video(class="landing-page__video" autoplay muted loop)
  h1.landing-page__title Марс
  h2.landing-page__subtitle Точка назначения:
  .landing-page__background
  .landing-page__path
    .landing-page__starting-point
    .landing-page__path-line
    .landing-page__end-point
  .landing-page__scrim
  .landing-page__popup
    +date-dropdown({
      title: ['Дата заезда', 'Дата выезда'],
      dateFrom: '2023, 8, 15',
      dateTo: '2023, 8, 19',
    })