extends ~pages-base/page-base
include ~components/date-dropdown/date-dropdown
include ~components/dropdown/dropdown

block vars
  -
    const className = 'landing-page';
    const title = 'Mars';
    const keywords = 'Mars, tickets';
    const description = 'Сайт по бронированию билетов на Марс';

block content
  video(class="landing-page__video" autoplay muted loop)
  h1.landing-page__title Марс
  h2.landing-page__subtitle Точка назначения:
  .landing-page__background
  .landing-page__path
    .landing-page__starting-point
    .landing-page__path-line
    .landing-page__end-point
  .landing-page__scrim
  .landing-page__popup
    .landing-page__popup-title-container
      h2.landing-page__popup-title
        span Бронирование
        span билетов
      button.landing-page__popup-close-button
    .landing-page__widgets-container
      .landing-page__date-dropdown-container
        +date-dropdown({
          title: ['Дата заезда', 'Дата выезда'],
          dateFrom: '2023, 8, 15',
          dateTo: '2023, 8, 19',
        })
      .landing-page__dropdown-container
        +dropdown({
          items: ['Взрослые', 'Дети', 'Младенцы'],
          addingButtons: true,
          title: 'Количество',
        })
    .landing-page__popup-button-container
      +button({ text: 'Купить билеты', dark: true, long: true })