extends ~pages-base/page-base

block vars
  -
    const className = 'landing-page';
    const title = 'Mars';
    const keywords = 'Mars, tickets';
    const description = 'Сайт по бронированию билетов на Марс';

block content
  video(class="landing-page__video" autoplay muted loop)
  h1.landing-page__title Марс
  .landing-page__background Марс