.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 179px;
  min-height: 40px;
  padding: 10px 15px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: constants.$secondary;
  background-color: constants.$primary;
  border: none;
  border-radius: 4px;
  transition: 0.8s;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;

  &_dark {
    color: constants.$primary;
    background-color: constants.$secondary;
  }

  &_long {
    min-width: 387px;

    @include mixins.media-max(constants.$md) {
      min-width: 280px;
    }
  }

  &:hover {
    color: constants.$primary;
    background-color: constants.$hover-color;
  }

  &:disabled {
    opacity: 0.3;
  }

  &[disabled] {
    pointer-events: none;
  }
}