mixin button(options = {})
  -
    let buttonClass = 'button';
    buttonClass += options.dark ? ' button_dark' : '';
    buttonClass += options.long ? ' button_long' : '';

  button(class=buttonClass)=options.text