.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  min-width: 179px;
  min-height: 40px;
  padding: 10px 15px 10px 15px;
  font-family: Montserrat, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #262526;
  background-color: #F2E1C2;
  border: none;
  border-radius: 4px;
  transition: 0.8s;
  text-transform: uppercase;
  box-sizing: border-box;
  cursor: pointer;

  &_dark {
    color: #F2E1C2;
    background-color: #262526;
  }

  &_long {
    min-width: 387px;

    @include media-max($md) {
      min-width: 280px;
    }
  }

  &:hover {
    color: #F2E1C2;
    background-color: #F23207;
  }

  &:disabled {
    opacity: 0.3;
  }

  &[disabled] {
    pointer-events: none;
  }
}