@use '~constants/constants';

@mixin default-font() {
  font-family: Montserrat, Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

@mixin media-max($units) {
  @media screen and (max-width: $units) {
    @content;
  }
}

@mixin hover() {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }
}

@mixin layer-style {
  position: absolute;
  display: grid;
  place-items: center center;
  width: 100%;
  height: 100%;
  inset: 0;
  padding-top: 25px;
  padding-right: 14px;
  font-family: 'Bebas Neue', Arial, sans-serif;
  font-size: 715px;
  font-weight: bold;
  letter-spacing: -11px;
  text-transform: uppercase;
  user-select: none;
  box-sizing: border-box;

  @media (max-width: constants.$xxl) or (height <= 1023px) {
    padding-top: 0;
  }

  @include media-max(constants.$xxl) {
    font-size: 515px;
  }

  @include media-max(constants.$lg) {
    font-size: 415px;
  }

  @include media-max(constants.$md) {
    font-size: 315px;
  }

  @include media-max(constants.$sm) {
    font-size: 180px;
  }
}