@use '~templates/mixins';
@use '~constants/constants';

.date-dropdown {
  width: 790px;
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 100;

  @include mixins.media-max(constants.$xxl) {
    width: 630px;
  }

  @include mixins.media-max(constants.$md) {
    width: 280px;
  }

  &__title {
    margin: 0;
    padding: 0;
    color: constants.$secondary;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
  }

  &__input {
    position: absolute;
    top: 58px;
    width: 0;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    border: 0;
    box-sizing: border-box;
  }

  &__input-wrapper-from,
  &__input-wrapper-to {
    position: relative;
    margin-top: 10px;
    box-sizing: border-box;
  }

  &__wrapper-from {
    margin-right: 5px;
    box-sizing: border-box;
  }

  &__input-from,
  &__input-to {
    width: 386px;
    height: 44px;
    font-family: Montserrat, Arial, sans-serif;
    font-style: normal;
    font-size: 16px;
    padding-right: 30px;
    background: constants.$primary;
    border: none;
    border-bottom: 2px solid #000;
    box-sizing: border-box;
    outline: none;
    cursor: pointer;

    &::placeholder {
      color: #000;
      text-transform: uppercase;
    }

    &:hover, &:hover::placeholder  {
      color: grey;
      border-color: grey;
    }

    @include mixins.media-max(constants.$xxl) {
      width: 300px;
    }

    @include mixins.media-max(constants.$md) {
      width: 135px;
    }
  }
}
